@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
  }
  
  $poppins: 'Poppins', sans-serif;
  $roboto: 'Roboto', sans-serif;